@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{   
    color:#242424;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

div {
    background-color: ;
    color: #fff;
    padding: 10px 0;
}

.logo {

    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

nav__links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 20px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 00.6px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    list-style-type: none; 
    display: flex; 
    padding: 0; 
    margin: 0;
}

.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
