@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.row 
*{   
    color #242424;
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

div {row
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}    
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    list-style-type: none; 
    display: flex; 
    padding: 0; 
    margin: 0;
}

.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
