@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

.nav__link--primary {
    padding: 16px 32px;
    background: #6415ff;
    color: #f7fafc;
    border-radius: 500px;
    font-weight: 600;
}

/* NAVBAR ↓ */
nav {
    display: flex;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    display: flex;
    width: 80px;
}

.nav__logo--title {
    display: flex;
    padding-top: 4px;
    font-size: 20px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
}   

.nav__links {
    padding-right: 20px;
    margin: 20px 10px; /* Corrected margin */
    display: flex;
    list-style-type: none;
}

.nav__link {
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 400;
    margin: 0 16px;
    display: flex;
}

.btn__menu {
    display: none;
    background: transparent;
    border: 4px solid black;
    transition: all 300ms ease;
}

.button {
    cursor: pointer;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    padding-inline: 6px;
    padding-block: 1px;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex; /* Use flexbox for layout */
}

.header__description{
    width: 40%;
    background-color: #d0d0d0;
}

.header__description--para{
    font-size: 16px;
    margin:32px 0;
}

p{
    line-height: 1.5;
}

*{
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    color: #243e63;
}

p{
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
unicode-bidi: isolate;
}

.column {
    padding: 20px; 
    box-sizing: border-box; 
}


.column-60 {
    width: 60%; /* Set width to 60% */
    b /* Darker gray background for visibility */
}